:root {
  --color-primary: #1f4690;
  --color-secondary: #ffa500;
  --color-secondary-rgb: 255, 165, 0;

  --color-tertiary: #3a5ba0;
  --color-quaternary: #ffe5b4;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #838383;
  --color-success: #02c266;
  --color-danger: #c20275;
}

#form {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

#form.show {
  display: flex;
}

.form-wrapper {
  max-width: 500px;
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 12px;
  position: relative;
  padding: 20px;
  margin: 0 auto;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

#popup.show {
  display: flex;
}

.popup-wrapper {
  max-width: 500px;
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 12px;
  position: relative;
  padding: 20px;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.title-form,
.title-popup {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.popup-cont p {
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--color-black);
}

.form-group input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-gray);
  padding: 0 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

.form-group input:focus ~ .form-group-error {
  display: block;
}

.form-group-error {
  display: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-danger);
  margin-top: 4px;
}

.form-group select {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-gray);
  padding: 0 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

.form-group select:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.form-group select:focus ~ .form-group-error {
  display: block;
}

.form-group-error {
  display: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-danger);
  margin-top: 4px;
}

.form-group button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-gray);
  padding: 0 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.form-group button:hover {
  background-color: rgba(10, 39, 100, 0.9) !important;
}
